.featured-events {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
}

.featured-events h2,.map-container h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.map-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin: 2rem 0; 
}

.map-container h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.map-container #map {
    position: relative;
    width: 50%; 
    height: 400px; 
    border-radius: 0.5rem;
    overflow: hidden;
    background: url('../img/map.png') center/cover no-repeat; 
    
}

