.profile-container {
    max-width: 90vw;
    margin: auto;
    padding: 20px;
    text-align: center; /* Center text within the container */
}

.user-details {
    border-radius: 8px;
    margin-bottom: 20px;
}

.user-details p{
     /* Use a linear gradient with adjusted angles and color stops for better coverage */
     background: linear-gradient(90deg, #d6b600 40%, #0071e2 60%);
     /* Apply the gradient as a background clip */
     -webkit-background-clip: text;
     background-clip: text;
     /* Make the text transparent to show the gradient */
     -webkit-text-fill-color: transparent;
     text-fill-color: transparent; /* Fallback for non-webkit browsers */
     text-align: center;
}
.events-grid {
    width: 1500px;
    align-items:baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 90px; 
    margin-top: 50px;
}

.signout-button {
    display: block;
    width: 200px; /* Set a specific width for the button */
    padding: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto; /* Center the button horizontally */
}

.signout-button:hover {
    background-color: #c9302c;
}
