/* body {
  background: #121212; 
} */
.events-grid {
  width: 1500px;
  align-items:baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 40px; 
  /* background: #121212; */
}