<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dragon Parties - Home</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <!-- Other head elements like CSS files, favicon, etc. -->
</head>
<body>
    <nav class="navbar">
        <!-- Navigation bar content -->
        <div class="navbar-logo">
        <a href="/home"><img src="../static/img/drexelLogoWhite.png" alt="Drexel Dragon Logo"></a>
        </div>
        <ul class="navbar-links" id="navbar-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/host">Host</a></li>
            <li><a href="/viewEvents">View Events</a></li>
            <!-- Add other navigation links as necessary -->
        </ul>
        <div class="user-dropdown">
          <button class="user-icon">
            <i class="fas fa-user"></i> <!-- Font Awesome User Icon -->
            <i class="fas fa-chevron-down"></i>
        </button>
          <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/logout">Sign Out</a>
          </div>
      </div>
        <!-- Add more navigation bar content as needed -->
    </nav>
    <div class="content-wrapper"> 
      {% block content %}
      {% endblock %}
  </div>


    <!-- Add your scripts at the bottom of the page -->
    <!-- Example: Google Maps API script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <script src="../static/js/navbar.js"></script>

  
</body>
</html>
