<!-- home.html -->
<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<h1>Test</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <div class="featured-events">
        <h2>FEATURED EVENTS</h2>
        <div class="event-card">
            <img src="{{ url_for('static', filename='img/eventcards/card1.png') }}" alt="Neon Party">
            <div class="event-info">
                <h3>Neon Party</h3>
                <p>9 Feb, Friday</p>
           
            </div>
            <div class="more-info" style="display: none;"> <!-- Hidden by default -->
                <p>Additional event details...</p>
                <p>Additional event details...</p>
                <p>Additional event details...</p>
                <button class="rsvp-btn">RSVP</button>
            </div>
        </div>
        <div class="event-card">
            <img src="{{ url_for('static', filename='img/eventcards/card2.png') }}" alt="Mardi Gras Madness">
            <div class="event-info">
                <h3>Mardi Gras Madness</h3>
                <p>15 Feb, Thursday</p>
            </div>
            <div class="more-info" style="display: none;"> <!-- Hidden by default -->
                <p>Additional event details...</p>
                <p>Additional event details...</p>
                <p>Additional event details...</p>
                <button class="rsvp-btn">RSVP</button>
            </div>
        </div>
        <div class="event-card">
            <img src="{{ url_for('static', filename='img/eventcards/card3.png') }}" alt="Drake Night">
            <div class="event-info">
                <h3>Drake Night</h3>
                <p>22 Feb, Thursday</p>
             
            </div>
            <div class="more-info" style="display: none;"> <!-- Hidden by default -->
                <p>Additional event details...</p>
                <p>Additional event details...</p>
                <p>Additional event details...</p>
                <button class="rsvp-btn">RSVP</button>
            </div>
        </div>
    </div>
    <div class="map-container">
        <h2>NEARBY PARTIES</h2>
        <div id="map">
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/home.js"></script>
        
{% endblock %}
