<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dragon Parties - Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper">
        <div class="page-header">
            <img src="../static/img/drexelLogoWhite.png" alt="Drexel Logo" class="drexel-logo">
            <h1 class="title">DRAGON PARTIES</h1>
        </div>
        <div class="login-container">
            <div class="login-box">
                <!-- Login Form -->

                <form id="loginForm" action="/login" method="POST" style="display:inline;" >
                    <h2 class="login-title">LOGIN</h2>
                    <input type="email" id="email" placeholder="Enter your drexel email id" required>
                    <input type="password" id="password" placeholder="Enter password" required>
                    <!-- <button type="submit" hr>LOGIN</button> -->
                    <a href="#" class="login-btn" id="loginLink">LOGIN</a>
                    <p class="new-user">New User? <a href="/register">Click Here.</a></p>
                </form>

            </div>
        </div>
    </div>
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/js/loginPage.js"></script>
</body>
</html>
