<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dragon Parties - Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper">
        <div class="page-header">
            <img src="../static/img/drexelLogoWhite.png" alt="Drexel Logo" class="drexel-logo">
            <h1 class="title">DRAGON PARTIES</h1>
        </div>
        <div class="login-container">
            <div class="login-box">
                <!-- Login Form -->

                <form id="loginForm", method="POST", action="">
                    {{form.hidden_tag()}}
                    <h2 class="login-title">LOGIN</h2>
            <!--    <input type="email" id="email" placeholder="Enter your drexel email id" required> -->
                    {{form.username}}
            <!--    <input type="password" id="password" placeholder="Enter password" required> -->
                    {{form.password}}
                    <button type="submit" hr>{{form.submit.label}}</button> 
            <!--    <a href="/home" class="login-btn">LOGIN</a> --> 
              <!--      {{form.submit}} --> 
                    <p class="new-user">New User? <a href={{url_for('registertest')}}>Click Here.</a></p>
                </form>

                <!-- Back Button (common to all forms except the first one) -->
                <button id="backButton" style = "display: none; "type="button">&lt;</button>

            </div>
        </div>
    </div>
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/js/loginPage.js"></script>
</body>
</html>
