<!-- home.html -->
<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/eventCard.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<div class="profile-container">
    <div class="user-details">
        <h1>User Profile</h1>  
        <p><strong>Name:</strong> {{ user_details.type }}</p>
        <p><strong>Username:</strong> {{ user_details.username }}</p>
        <p><strong>Email:</strong> {{ user_details.email }}</p>
        <p><strong>Gender:</strong> {{ user_details.gender }}</p>
    </div>
    <h2>Your RSVP'D Events</h2>
    <div class="events-grid1">
      
        <!-- Dynamically load event cards here -->
    </div>
    <h2>Your Currently Hosted Events</h2>
    <div class="events-grid2">
      
        <!-- Dynamically load event cards here -->
    </div>
    <div class="button-container">
        <a href="/" class="button">Sign Out</a>
    </div>
   
</div>

<script src="../static/js/profile.js"></script>
{% endblock %}
